header {
  padding: 1rem;
}
main {
  padding: 2rem;
}

.cake-tile {
  border: 1px solid black;
  margin: 1rem 0rem;
  padding: 1rem;
}

.cake-tile-image {
  max-height: 20rem;
  max-width: 20rem;
}

.flex-title {
  display: flex;
  justify-content: space-between;
}
