header {
  padding: 1rem;
}
main {
  padding: 2rem;
}

.main-nav {
  display: flex;
  flex-direction: row;
}

.main-nav-link {
  margin: 0 0.5rem;
}

.cake-tile {
  border: 1px solid black;
  margin: 1rem 0rem;
  padding: 1rem;
}

.cake-tile-image {
  max-height: 20rem;
  max-width: 20rem;
}

.flex-title {
  display: flex;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
  min-width: 18rem;
}

.form-button {
  margin-top: 1rem;
}

.error-message {
  color: red;
}
